* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background: linear-gradient(
    90deg,
    rgba(75,127,223, 1) 0%,
    rgba(1,224,214, 1) 100%
  );
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #ffffff;
  box-shadow: 5px 5px 12px #000000;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #1B1B25;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #6967E9;
  outline: none;
  width: 320px;
  background: transparent;
  color:#1B1B25;
}

.todo-input::placeholder {
  color: #1B1B25;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(104,103,232, 1) 0%,
    rgba(106,157,229, 1) 100%
  );
  color: #1B1B25;
  text-transform: capitalize;
}
.todo-input.edit {
  border: 2px solid #5FEE69;
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgba(94,238,107, 1) 0%,
    rgba(53,225,201, 1) 100%
  );
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #1B1B25;
  background: linear-gradient(
    90deg,
    rgba(255,227,250, 1) 0%,
    rgba(255,211,250, 1) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(129,152,209, 1) 0%,
    rgba(60,70,98, 1) 100%
  );
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(138,250,249, 1) 0%,
    rgba(0,205,255, 1) 100%
  );
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgb(128, 223, 183) 0%,
    rgba(61,214,150, 1) 100%
  );
}



.delete-icon {
  margin-right: 10px;
  color: #ffffff;
}

.edit-icon {
  color: #ffffff;
}



.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}